<!DOCTYPE html>
<html lang="en-us">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fridge2Table</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Google Fonts link-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" type='text/css'>
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../assets/css/index.css">

</head>

<body>
  
<div class="container" id="loginSignupDiv">
  
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Fridge 2 Table</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <form id="loginForm">
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" class="form-control text-center" id="loginEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control text-center" id="loginPassword" placeholder="Password">
          </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block" id="btnLogin">Login</button>
        </form>
        <br>
      </div>

      <div class="col-sm-3">
        <form id="signupForm">
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control text-center" id="signupName" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" class="form-control text-center" id="signupEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control text-center" id="signupPassword" placeholder="Password">
          </div>
            <button type="submit" class="btn btn-success btn-lg btn-block" id="btnSignup">Sign Up</button>
        </form>
      </div>
    <div class="col-sm-3"></div>
  </div>
</div>

  <!-- ***** Firebase ***** -->
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- jQuery UI-->
  <script src="../assets/javascript/jquery-ui.min.js"></script>
  <!--moment.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
   <!-- Bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--javascript-->
  <script src="../assets/javascript/index.js"></script>

</body>
</html>